[submodule "third_party/NeMo-Speech.cpp"]
	path = third_party/NeMo-Speech.cpp
	url = https://github.com/NVIDIA/NeMo-Speech.cpp
[submodule "third_party/whisper.cpp"]
	path = third_party/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp
